
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* nav styles */

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.cart-icon{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.logo{
  width: 100px;
  height: 50px;
}
.text-black{
  color: #252432;
  font-weight: 700;
}
.text-gray{
  color: #8987A1;
}

.display-flex{
    display: flex;  
   
  }
.navbar{
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem;
  align-items: center;
  }

.nav-item{
  list-style: none;
  margin-right: 30px;
 
}
.nav-link{
  text-decoration: none;
  font-weight: 500;

}
.nav-item black-color{
  color: #252432
}

  /* banner styles */

  .banner{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
  }
  
  
   .style{
    font-size: 2rem;
    line-height: 1.2;
    padding-top: 2rem;
    
   }

  .color{
    color: #E95A08;
  }
  .p-color{
    color: rgba(0, 0, 0, 0.5);
  }
 
  .image-style{
    width: 570px;
    height: 355px;
  }


/*  responsive mobile */
 @media screen and (max-width: 576px){
  .hide-on-mobile{
    display: none;
    align-items: center;
  }
  .banner{
    display: flex;
    flex-direction: column-reverse;
  
  }
  .image-style{
    width: 100%;
    height: auto;
    display: block;
  }

 }

  